<h2>Trails On Record</h2>

<ul class="trail-list">
  <% @trails.each do |trail| %>
    <li class="trail-list__item">
      <%= trail.name %>
      <%= link_to 'Show', trail_path(trail) %>
      <%= link_to 'Edit', edit_trail_path(trail) %>
      <%= link_to 'Delete', trail_path(trail),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
<%= link_to 'Back', root_path %>
