<h1>Trail</h1>
<p>
  <strong>Name:</strong>
  <%= @trail.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trail.description %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @trail.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @trail.longitude %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @trail.difficulty %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @trail.direction %>
</p>

<%= link_to 'Back', trails_path %>
