<h1>Trail Information</h1>

<div class="trail-info">
  <p>
    <strong>Name:</strong>
    <%= @trail.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @trail.description %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= @trail.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= @trail.longitude %>
  </p>

  <p>
    <strong>Difficulty:</strong>
    <div class="difficulty-marker"></div>
    <% if @trail.difficulty > 1 %>
      <div class="difficulty-marker"></div>
    <% end %>
    <% if @trail.difficulty > 2 %>
      <div class="difficulty-marker"></div>
    <% end %>
  </p>

  <p>
    <strong>Direction:</strong>
    <% if @trail.direction == 1 %>
    Out & Back
    <% else %>
    Loop
    <% end %>
  </p>
</div>

<%= link_to 'Edit Trail', edit_trail_path(@trail), class:'btn' %>
<%= link_to 'Back', trails_path, class:'btn' %>
